﻿@model Web.App.Core.Models.Movement

@{
    ViewData["Title"] = "Add Movement";
}



<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h1 class="font-bold pl-2">@ViewData["Title"]</h1>
    </div>
</div>


<div class="flex flex-col flex-auto w-full">
    <a asp-action="Transactions" asp-controller="Accounts" asp-route-id="@Model.AccountId" style="margin:15px;" class="text-center w-20 mx-15 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Back
    </a>
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <form asp-action="Add" class="bg-white shadow-md rounded px-16 pt-6 pb-8 mb-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AccountId">
                    <div class="flex flex-col">
                        <div class="mr-6">
                            <label asp-for="Amount" class="block text-gray-700 text-sm font-bold mb-2" for="username"></label>
                            <input asp-for="Amount" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="@Html.DisplayNameFor(model=>model.Amount)">
                            <span asp-validation-for="Amount" class="text-red-500 text-xs italic"></span>
                        </div>
                        <div class="mr-6">
                            <label asp-for="TypeMovementId" class="block text-gray-700 text-sm font-bold mb-2"></label>
                            <select asp-for="TypeMovementId" asp-items="ViewBag.TypesMovements" class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="@Html.DisplayNameFor(model=>model.TypeMovementId)"></select>
                            <span asp-validation-for="TypeMovementId" class="text-red-500 text-xs italic"></span>
                        </div>
                    </div>
                    <div class="flex items-center justify-end">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

