﻿@model IEnumerable<Web.App.Core.Models.Movement>

@{
    ViewData["Title"] = "Movements History";
}

<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h1 class="font-bold pl-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="flex flex-col flex-auto w-full">
    <!-- Using utilities: -->
    @*<a asp-action="Add" style="margin:15px;" class="text-center w-20 mx-15 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add
        </a>*@
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">

                <!-- Table devices -->

                <div class="flex flex-col p-6">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.Account.AccountNumber)</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.Amount)</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayName("Client")</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.FirstOrDefault().CreatedAt)</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200" id="tableDevices">
                                        @foreach (var movement in Model)
                                        {
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">#@movement.Id</span>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@movement.Account.AccountNumber</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                @if (movement.TypeMovementId == 1)
                                                {

                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-red-800 bg-red-100">
                                                        -@((movement.Amount).ToString("C"))
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-green-800 bg-green-100">
                                                        @((movement.Amount).ToString("C"))
                                                    </span>

                                                }
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@movement.Account.Client.FullName</td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@movement.CreatedAt</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
