﻿@model IEnumerable<Web.App.Core.Models.Account>

@{
    ViewData["Title"] = "Accounts";
}

<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h1 class="font-bold pl-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="flex flex-col flex-auto w-full">
    <!-- Using utilities: -->
    <a asp-action="Add"  style="margin:15px;" class="text-center w-20 mx-15 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Add
    </a>
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">

                <!-- Table devices -->

                <div class="flex flex-col p-6">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.FirstOrDefault().AccountNumber)</th>
                                                <th scope="col"
                                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.FirstOrDefault().CurrentBalance)</th>
                                                    <th scope="col"
                                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.FirstOrDefault().Client)</th>
                                                        <th scope="col"
                                                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200" id="tableDevices">
                                        @foreach (var account in Model)
                                        {
                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">#@account.Id</span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@account.AccountNumber</td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@account.CurrentBalance</td>                                                
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@account.Client.FullName</td>                                                
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                    <a asp-action="Delete" asp-route-id="@account.Id" type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                                        <i class="fa fa-trash"> </i>
                                                    </a>
                                                    <a asp-action="Update" asp-route-id="@account.Id" type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                                        <i class="fa fa-pen"></i>
                                                    </a>
                                                    <a asp-action="Transactions" asp-route-id="@account.Id" type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                                                        <i class="fa fa-wallet"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
