﻿@model Web.App.Core.Models.Account

@{
    ViewData["Title"] = "Transactions Account";
}



<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h1 class="font-bold pl-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="flex flex-col flex-auto w-full">
    <!-- Using utilities: -->
    <div class="flex flex-row">
        <a asp-action="Index" style="margin:15px;" class="text-center w-20 mx-15 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Back
        </a>
       
    </div>
    <div class="flex flex-col w-full max-w-screen-xl mx-auto p-6 md:p-8">
        @* Account details. *@
        <div class="flex-auto mt-4 sm:mt-6">
        <div class="rounded-tl-3xl  p-4 shadow text-2xl text-black">
            <h1 class="font-bold pl-2">Account details</h1>
        </div>
            <div class="w-full max-w-screen-xl mx-auto">
                <div class="bg-white shadow-md rounded px-16 pt-6 pb-8 mb-4">
                    <input asp-for="ClientId" type="hidden">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="flex flex-col">
                        <div class="mr-6">
                            <label asp-for="AccountNumber" class="block text-gray-700 text-sm font-bold mb-2" for="username"></label>
                            <input disabled="disabled" asp-for="AccountNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="@Html.DisplayNameFor(model=>model.AccountNumber)">
                            <span asp-validation-for="AccountNumber" class="text-red-500 text-xs italic"></span>
                        </div>
                        <div class="mr-6">
                            <label asp-for="CurrentBalance" class="block text-gray-700 text-sm font-bold mb-2"></label>
                            <input disabled="disabled" asp-for="CurrentBalance" class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="@Html.DisplayNameFor(model=>model.CurrentBalance)">
                            <span asp-validation-for="CurrentBalance" class="text-red-500 text-xs italic"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* List Movements *@
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">                
                <div class="flex flex-col p-6">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="flex flex-row px-2">
                                <a asp-action="Add" asp-controller="Movements" asp-route-id="@Model.Id" style="margin:15px;" class="text-center w-20 mx-15 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Add
                                </a>
                            </div>
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <div class="rounded-tl-3xl  p-4 shadow text-2xl text-black">
                                    <h1 class="font-bold pl-2">Payments</h1>
                                </div>
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.AccountNumber)</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.Movements.FirstOrDefault().Amount)</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayName("Client")</th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@Html.DisplayNameFor(model => model.Movements.FirstOrDefault().CreatedAt)</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200" id="tableDevices">
                                        @foreach (var movement in Model.Movements)
                                        {
                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full">#@movement.Id</span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@Model.AccountNumber</td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                    @if (movement.TypeMovementId == 1)
                                                    {

                                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-red-800 bg-red-100">
                                                            -@((movement.Amount).ToString("C"))
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-green-800 bg-green-100">
                                                            @((movement.Amount).ToString("C"))
                                                        </span>

                                                    }
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@Model.Client.FullName</td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@movement.CreatedAt</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

